*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	
}
.container {
	width: 500px;
	margin: auto;
	
}
.chat {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: #f1f0e8;

}
.right {
	display: inline-block;
	width: 25px;
	margin-left: 10px;
}


.chat-header {
	display: flex;
	cursor: pointer;
}
.profile {
	width: 100%;
	background: #c20404;
	display: flex;
	align-items: center;
	height: 60px;
	padding: 0px 10px;
	position: relative;
}

.chat-box {
	padding-top: 50px;
	background: #f1f0e8;
	background-attachment: fixed;
	padding-left: 20px;
	overflow-y: scroll;
	flex: 1;

}
.chatl {
	margin: 10px;
  		padding:2px;
  		padding-right:10px;
 		background-color: #fbffee;
 		color: white4;
 		float:left;
  		position: relative;
		box-shadow: 0px 0px 10px #aaa;
		width:60%;
		min-width: 200px;
  		

}
.chatr {
	margin: 10px;
  		padding:2px;
  		padding-right:10px;
 		background-color: #e64040;
 		color: #444;
 		float:right;
		position: relative;
 		box-shadow: 0px 0px 10px #aaa;
		 width:60%;
		 min-width: 200px;
		align-items: right;
  		

}
*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
	background: #aaa;
}
*::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.chat-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: bottom;
	cursor: pointer;
}
.chat-footer textarea {
	display: block;
	background: #f1f0e8;
	flex: 1;
	width: 100%;
	height: 55px;
	border-radius:0 ;
	border-color: #f1f1f1;
	border-top: 1px ;
	border-top-color: #555;
	padding: 13px;
	outline: none;
	font-size: 19px;
	padding-left: 35px;
	padding-right: 90px;
	resize: none;
}
.chat-footer .button {
	display: block;
	padding: 14px;
	width: 90px;
	height: 55px;
	border-color: #f1f0e8;
	outline: none;
	font-size: 19px;
}
.chat-footer .button2 {
	display: block;
	padding: 13px;
	width: 90px;
	height: 55px;
	border-color: #f1f0e8;
	outline: none;
	font-size: 19px;
}
.chat-footer .sender {
	display: block;
	padding: 13px;
	background-color: #f1f0e8;
	width: 90px;
	height: 55px;
	border-color: #f1f0e8;
	outline: none;
	font-size: 19px;
}